<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>formPage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <h1>fill the form</h1>
    <div class="container">
      <form  method="post">
        {% csrf_token %}
        {{form.as_p}}
        <!-- in the above line "form" is the key that we got from views.py dictionary while passing in render -->

        <input type="submit" class="btn btn-primary" value="submit">
      </form>

    </div>
  </body>
</html>
