{% extends 'posts/post_base.html' %}

{% block prepost%}
<div class="col-md-4">
  {% if request.user_is.authenticated %}
  <div class="card card-with-shadow">
    <div class="content">
      <h5 class='title'>Your groups</h5>
      <ul class='list-unstyled'>
        <!-- refer the below line of code in documentation to understand -->
        {% for member_group in  get_user_groups %}
        <li class='group li-with-bullet'>
          <a href="{url 'groups:single' slug=member_group.group.slug %}"></a>
        </li>
        {% endfor %}
      </ul>

    </div>

  </div>
  {%endif%}
  <div class="class card-with-shadow">
    <div class="content">
      <h5 class="title"></h5>
      <ul class="list-unstyled">
        <!-- refer below line in documentation to understand -->
        {% for other_group in get_other_groups %}
        <li class='group li-with-bullet'>
          <a href="{% url 'groups:single' slug=other_group.slug%}"></a>
        </li>
        {%endfor%}
      </ul>

    </div>

  </div>
</div>
{% endblock %}


{% block post_content%}
<div class="col-md-8">
  {% for post in post_list %}
  {% include "posts/_post.html" %}
  {% endfor %}

</div>

{% endblock %}
